/* ==============
Typography
===============*/

body {
    line-height: 1.5;
}

h3 {
    letter-spacing: 0.5px;
}

.link-inline {
    color: rgb(109, 209, 255);
}

.link-inline:visited {
    color: rgb(0, 158, 231);
}

/* ==============
Layout
===============*/

.container {
    width: 90%;
}